@charset "UTF-8";

html,body{position: relative; height: 100%;margin:auto 0;padding:0;}
nav,header,menu,section,footer,div,th,td,ul,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,select,textarea,input{margin:0;padding:0;list-style:none;}
input[type=text], input[type=password], input[type=submit], input[type=button], input[type=search], input[type=tel], input[type=number], input[type=email], input[type=file], textarea{-webkit-appearance:none;}
/* box-sizing:border-box; */
body{
	background: #fff;
	color:#000;
	margin: 0;
	padding: 0;
}

ul{list-style:none;margin:0;padding:0;}
a{color:inherit;text-decoration:none;}
input::-webkit-input-placeholder{color:inherit;}
input:-ms-input-placeholder{color:inherit;}
input::placeholder{color:inherit;}

.msWrap{overflow:hidden;}
/*제목크기 설정css*/
.all_title{
	position: relative;
  float: left;
  height: 38px;
	line-height: 38px;
	width: 100%;
	z-index: 9999;
	border-top: 1px solid #eee;
	padding-bottom: 5px;
}

.all_title h4{
	display: inline-block;
}
.all_title h4 p{
  z-index: 999999;
	position: relative;
	margin-left: 8px;
	display: inline-block;
	padding-bottom: 5px;
	font-size: 1.3rem;
	font-weight: 420;
	color: #222;
}

.all_title h4 p span{
	color : #ee6b1c;
}

.bx-pager-link.active
{
	background:#ee6b1c !important;
}


/*슬라이드 이미지*/
.img_slider{
  width: 100%;
	height: auto;
}

.slider li{
  text-align: center;
}

.slider li p{
	display: -webkit-box;
	width: 90%;
  background: #fff;
  color:#000;
  font-size: 1.5rem;
	margin: 0 auto;
	padding-top: 20px;
}

.slider li .slider_imgwrap{
	position: relative;
	display: block;
	width: 100%;
	padding-top: 60%;
	box-sizing: border-box;
}

.bx-wrapper{
	margin-bottom: 40px !important;
	padding-left: 0.25em !important;
	padding-right: 0.25em !important;
}

.slider li .slider_imgwrap img{
	position: absolute;
	left: 0;
	top :0;
	display: inline-block;
	max-width: 100%;
	height: 100%;
	width: 100%;
	border: 0;
}

.bx-pager{
  position: absolute;
  left: 0;
  bottom: 0;
}


/*생활뉴스 파트*/

.lifenew_wrap{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #f8f8f8;
	border-top: 1px solid #eee;
}

.content_wrap{
	margin-top: 6px;
	background: #fff;
	border-top: 1px solid #eee;
}
.ms_new_wrap{
	position: relative;
	width: 100%;
	clear: both;
 height: auto;
}

.article_box {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	background: #f8f8f8;
	margin-top: 7px;
}

.article_box li{
	position: relative;
	height: 100%;
	margin: 0 auto;
	padding: 7px 5px;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid rgba(0,0,0,.12);
}

.article_box li:last-child{
	margin-bottom: 7px;
	clear: both;
}
.article_box li a {
	display: inline-block;
	position: relative;
	width: 100%;
	height: auto;
}

.box_img{
	float: left;
	position: relative;
	width: 26%;
	padding-top: 17%;
}

.article_box a img {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	max-width: 100%;
	height: 100%;
	margin: 0;
	border: 0;  border-right: 10px solid #fff; vertical-align: top;  }

.article_box a .box_text {
	float: left;
	position: relative;
	width: 74%;
	padding-top: 17%;
}

.txt_position{
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 10px;
}
.article_box p {  padding-top: 20px; font-size: 1em;   line-height: 1em;   margin: 0; color: #565656; margin-top:-10px;}
.article_box h3 { font-weight: 400;margin-left: 5px; margin-bottom: 10px;margin: 0;  color: #bdbdbd;   line-height: 0.9rem; font-size: 0.85rem;}



.box_text p:last-child{
	padding-top: 0px;
	font-size: 0.8em;
	color : #BDBDBD;
	position: absolute;
	right: 3%;
	bottom : 3%;
}

.ms_new_wrap a{
	display: inline-block;
	width: 100%;
	height: auto;
}

table{
      border : 0;
      width: 100%;
			max-width: 500px;
      padding-top: 20px;
}
td {
      border: 1px solid #444444;
			border: 0;
			font-size: 0.95rem;
    }

.ms_new_wrap table img{
    width: 100%;
    height: 100%;
  }

	.img_wrap{
		height: 100%;
	}

.img_wrap img{
	 max-width: 100%;
  }

.text_num
{
	color: #222;
	font-size: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap:break-word;
	line-height: 1.5em;
	height: 2.9em; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
	margin-top: 1.5%;
}

.number
{
	  overflow: hidden;
	  text-overflow: ellipsis;
	  display: -webkit-box;
	  -webkit-line-clamp: 2; /* 라인수 */
	  -webkit-box-orient: vertical;
	  word-wrap:break-word;
	  line-height: 1.2em;
		height: 2.4em;
}

/*유튜브 파트*/
.youtube {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #f8f8f8;
	border-bottom: 1px solid #eee;
}

.youtube_wrap{
	padding-bottom: 55.86667%;
	margin-top: 48px;
	position: relative;
}

.youtube_wrap iframe{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
